<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <id>central</id>
      <username>admin</username>
      <password>AKCp5btpCwjQnQr3QSZv7XK7i7W7Yf1BXyzdXqsUKPePDHqYE3HLDPHdF9F7spexvso3sNJSN</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>yannc-mvn-releases</name>
          <url>http://192.168.51.51:8081/artifactory/Zteam-maven</url>
        </repository>
        <repository>
          <snapshots />
          <id>central-snapshot</id>
          <name>yannc-mvn-snapshots</name>
          <url>http://192.168.51.51:8081/artifactory/Zteam-maven</url>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>yannc-mvn-releases</name>
          <url>http://192.168.51.51:8081/artifactory/Zteam-maven</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots/>
          <id>snapshots</id>
          <name>yannc-mvn-snapshots</name>
          <url>http://192.168.51.51:8081/artifactory/Zteam-maven</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>



